body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #111;
}

body {
    display: inline-flex;
    flex-wrap: wrap;
    color: white;
    font-family: Arial;
}

a {
    color: orange;
	text-decoration: none;
}
a:hover {
    color: orangered;
    animation-name: aanim;
    animation-duration: 1s;
}
@keyframes aanim {
    0%   {color: orange;}
    100% {color: orangered;}
}

#sidebar li:hover {
    background-image: linear-gradient(90deg, black 20%, purple);
}

#sidebar hr {
	margin: 0;
}

#sidebar ul {
	list-style-type: none;
    margin: 0;
	padding: 0;
}

#sidebar ul a {
	color: #db0;
    display: block;
    animation: none;
}

#sidebar {
    width: 300px;
	background-color: rgba(0,0,0,0.9);
	border-right: 4px groove purple;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    height: 100%;
    position: fixed;
}

#sidebar p {
	margin: 10px;
}

#content {
    flex-grow: 1;
    background-color: #111;
    background-image: url('background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    overflow-y: scroll;
    padding-left: 300px;
}

#authorname {
	font-size: 2em;
}

#minibio {
	color: #ddd;
}

.contentbox {
	max-width: 800px;
	background-color: rgba(0,0,0,0.9);
	border-radius: 2em;
	flex-grow: 1;
	padding: 2em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
	border-right: 0;
	border-bottom: 4px groove purple;
  }

  #content {padding-left: 0;}
}
