<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sebastian Hanus | {{page.title}}</title>
  <meta name="author" content="Sebastian Hanus">
  <meta name="description" content="Sebastian Hanus' website">
  <meta name="keywords" content="sebastian,hanus,developer,python">
  <!--<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">-->
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>
  <body>
    <div id='sidebar'>
			<div id='author'>
				<p id='authorname'>Sebastian Hanus</p>
				<p id='minibio'>Ultra cool person</p>
			</div>
			<ul id='navigation'>
				<hr />
				<li><a href='#'>Home</a></li>
				<hr />
			</ul>
      <ul id='authorlinks'>
				<hr />
        <li><a href='https://github.com/Dalek-Sec'>Github: Dalek-Sec</a></li>
				<hr />
        <li><a href='https://twitter.com/o0_shanus_0o'>Twitter: @o0_shanus_0o</a></li>
				<hr />
        <li><a href='https://pgp.key-server.io/search/Sebastian+Hanus'>PGP: 4C1A 8369 1C08 A2EC 2D1B  78C9 C289 B9BA 1DDA CD26</a></li>
				<hr />
      </ul>
    </div>
    <div id='content'>
      {{ content }}
		</div>
  </body>
</html>


