<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sebastian Hanus | {{page.title}}</title>
  <meta name="author" content="Sebastian Hanus">
  <meta name="description" content="Sebastian Hanus' website">
  <meta name="keywords" content="sebastian,hanus,developer,python">
  <link rel="stylesheet" href="{{/stylesheet.css | relative_url }}" type="text/css">
  </head>
  <body>
    <div id='sidebar'>
      <div id='author'>
        <p id='authorname'>Sebastian Hanus</p>
        <p id='minibio'>Python developer, security enthusiast, and *nix hopper</p>
      </div>
      <ul id='navigation'>
        <hr />
        {% for item in site.data.internallinks %}
          <li><a href="{{ item.link | relative_url }}">{{ item.name }}</a></li><hr />
        {% endfor %}
      </ul>
      <ul id='authorlinks'>
        <hr />
        {% for item in site.data.externallinks %}
          <li><a href="{{ item.link | relative_url }}">{{ item.name }}</a></li><hr />
        {% endfor %}
      </ul>
    </div>
    <div id='content'>
      {{ content }}
    </div>
  </body>
</html>


